.body {
    background-image: url('./images/Galazy.jpg');
    height: 100%;
}

.navbar-nav li {
    font-size: 20px;
}

.container {
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
}

h1 {
    font-family: 'Bangers', cursive;
    font-size: 30px;
    margin: 5px;
}

img {  
    border-radius: 5px;
    width: 350px;
    height: 300px; 
    float: left;
    margin-right: 10px;
}


.row {
    font-family: 'Bangers', cursive;
    text-align: justify;
    margin-left: 5px;


    
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;    
}


.footer {
    color: white;
    text-align: center;
    background-color: black;
    margin-top: 100px;
    height: 50px;
    
}






